<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <p>Welcome to <%= title %></p>
      <a href="/skills">Click here to see my skills</a>
    </div>  
  </body>
</html>
